/* Стилизация аккордеона */

.accordion {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.accordion__section {
  padding: 24px 48px 24px 32px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__section:not(:last-child) {
  margin-bottom: 16px;
}

.accordion__summary {
  /* для скрытия маркера в Firefox */
  list-style: none;
  color: var(--black);
}

/* для скрытия маркера в Google Chrome */
.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  padding-top: 1em;
  color: var(--grey-4);
}

.accordion__text {
  margin: 0;
}

.accordion__text:not(:last-child) {
  margin-bottom: 1em;
}
