@import 'normalize.css';
@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/content/content.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/cardsArea/cardsArea.css';
@import '../../components/card/card.css';

@import '../..//03-lection1/01-button/button.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #F784AD;
  --purple: #7048E8;
  --blue: #4263EB;
  --red: #F03D3E;
  --grey-0: #F9FAFC;
  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;

  --dark-blue: #2342C0;
  --dark-purple: #5028C6;

  --bg-color: var(--grey-0);

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--dark-blue);

  --secondary: var(--purple);
  --secondary-hover: var(--dark-purple);

  --alternate: var(--white);
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
