.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__bubble {
  width: 129px;
  padding: 13px 21px;
  border-radius: 10px;

  display: none;

  position: absolute;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);

  background: var(--blue);
  color: var(--white);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
  display: block;
}

.tooltip__bubble:after {
  content: "";
  border: 7px solid transparent;
  border-top: 7px solid var(--blue);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
