.content {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 68px 0 92px;
  background: var(--bg-color);
}

/* вложенность добавил для повышения специфичности */
.content .content__button {
  /* корректируем высоту кнопки (и немного делаем шире) */
  padding: 14px 30px 13px;
}
